// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');
// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';


//@import "~font-awesome/scss/font-awesome.scss";
//@import "~summernote/dist/summernote-bs4.css";

#app {
  display: flex;
  flex-direction: column;
  flex-grow: 2;
}

.navbar {
  background-color: #36a6f1;
  padding: 0.35rem 1rem;
}

body {
  display: flex;
  min-height: 100vh;
  min-width: 270px;
  flex-direction: column;
}

.app-content {
  flex: 1;

  //@include media-breakpoint-down(sm) {
  //    background-color: #edeef0;;
  //}
}